@model Post

@{
    ViewData["Title"] = "Home Page";
}

    <div class="p-3 mb-3 bg-light rounded shadow">
        <h1>@Model.Title</h1>
    </div>

    <div class="p-3 bg-light rounded shadow">
        <p>@Model.Text</p>
    </div>